<form ng-submit="modal.submit()">
    <div class="modal-header">
        <h1>Create New Chatroom</h1>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <input type="text" ng-model="modal.text" name="text" class="form-control" placeholder="Enter Chatroom Name">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="modal.dismiss()">Cancel</button>
            <input type="submit" id="submit" value="Submit" class="btn btn-primary">
    </div>
</form>